{
    "openapi": "3.0.0",
    "info": {
        "title": "Telegram service API",
        "description": "Using the API for Telegram chatbots, you can integrate your system with SendPulse\u2019s chatbots service and get detailed information about your account, bots, subscribers, variables, flows, and chats. You can also create campaigns, launch flows, assign and remove variables and tags.\n\n            \nOn the right, there is a button for authorizing requests made on this page. Click \u201cAuthorize,\u201d then insert the ID and Secret from your account.\n\n            \nTo perform a request directly from the page, click the \"Try it out\" button within each method block. Then fill in input fields if any (for URL parameters, the description is right below the URL request; for body parameters, the description is under the \u201cScheme\u201d button to the right of the example), and click \u201cRun.\u201d You'll find the server response and description of received parameters below.\n        ",
        "version": "0.0.1"
    },
    "servers": [
        {
            "url": "https:\/\/api.sendpulse.com\/telegram",
            "description": ""
        }
    ],
    "tags": [
        {
            "name": "account",
            "description": ""
        },
        {
            "name": "bots",
            "description": ""
        },
        {
            "name": "contacts",
            "description": "(subscribers)"
        },
        {
            "name": "variables",
            "description": ""
        },
        {
            "name": "flows",
            "description": ""
        },
        {
            "name": "triggers",
            "description": "(keywords)"
        },
        {
            "name": "chats",
            "description": ""
        },
        {
            "name": "campaigns",
            "description": "(broadcasts)"
        }
    ],
    "paths": {
        "\/contacts\/get": {
            "get": {
                "summary": "Get contact info via a contact ID",
                "description": "Returns information on the selected contact: bot and contact ID, information from messenger, list of tags and variables, activity data and date added",
                "security": [
                    {
                        "oAuth2ClientCredentials": []
                    }
                ],
                "tags": [
                    "contacts"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Contact ID. Can be obtained with a contact search by tag or variable. You can also find it in your account in the address bar of a chat window with the desired contact."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "$ref": "#\/components\/schemas\/Contact"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/contacts\/getByTag": {
            "get": {
                "summary": "Get a list of contacts by tag",
                "description": "Returns a list of contacts by tag for the specified bot",
                "security": [
                    {
                        "oAuth2ClientCredentials": []
                    }
                ],
                "tags": [
                    "contacts"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "tag",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Created contact\u2019s tag to search by"
                    },
                    {
                        "in": "query",
                        "name": "bot_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Bot ID. Can be obtained with a method of getting a list of bots. You can also find it in your account in the address bar of a chat window with the desired contact."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#\/components\/schemas\/Contact"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/contacts\/getByVariable": {
            "get": {
                "summary": "Get contacts by variable",
                "description": "Returns contacts by variable identifier or variable name for the specified bot",
                "security": [
                    {
                        "oAuth2ClientCredentials": []
                    }
                ],
                "tags": [
                    "contacts"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "variable_id",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Contact\u2019s variable ID to search by; required parameter if you do not pass variable_name and bot_id."
                    },
                    {
                        "in": "query",
                        "name": "variable_name",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Contact\u2019s variable name to search by; required parameter and passed with the bot_id parameter, if you do not pass variable_id."
                    },
                    {
                        "in": "query",
                        "name": "bot_id",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Bot ID; required parameter and passed with the variable_name parameter, if you do not pass variable_id. Can be obtained with a method of getting a list of bots. You can also find it in your account in the address bar of a chat window with the desired contact."
                    },
                    {
                        "in": "query",
                        "name": "variable_value",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Contact's variable value"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#\/components\/schemas\/Contact"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/contacts\/mark-read": {
            "put": {
                "summary": "Mark messages as read",
                "description": "Mark contact all messages as read (set unread count 0)",
                "security": [
                    {
                        "oAuth2ClientCredentials": []
                    }
                ],
                "tags": [
                    "contacts"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "contact_id",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Contact\u2019s ID for set unread count as 0"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "properties": {
                                        "count": {
                                            "type": "integer",
                                            "description": "Contact messages count marked as read"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/contacts\/send": {
            "post": {
                "summary": "Send a message to a contact",
                "description": "Sends a text message, image, or a file  to contact with the specified contact ID.  To view an example of the request body, select a message type from the drop-down list",
                "security": [
                    {
                        "oAuth2ClientCredentials": []
                    }
                ],
                "tags": [
                    "contacts"
                ],
                "requestBody": {
                    "description": "",
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "properties": {
                                    "contact_id": {
                                        "type": "string",
                                        "description": "Contact ID. Can be obtained with a contact search by tag or variable. You can also find it in your account in the address bar of a chat window with the desired contact."
                                    },
                                    "message": {
                                        "type": "object",
                                        "properties": {
                                            "type": {
                                                "type": "string",
                                                "enum": [
                                                    "text",
                                                    "audio",
                                                    "photo",
                                                    "document",
                                                    "video"
                                                ]
                                            },
                                            "text": {
                                                "type": "string"
                                            },
                                            "audio": {
                                                "type": "string",
                                                "description": "URL to file"
                                            },
                                            "photo": {
                                                "type": "string",
                                                "description": "URL to file"
                                            },
                                            "document": {
                                                "type": "string",
                                                "description": "URL to file"
                                            },
                                            "video": {
                                                "type": "string",
                                                "description": "URL to file"
                                            },
                                            "caption": {
                                                "type": "string"
                                            },
                                            "parse_mode": {
                                                "type": "string",
                                                "description": "Html text"
                                            }
                                        }
                                    }
                                },
                                "required": [
                                    "contact_id",
                                    "message"
                                ]
                            },
                            "examples": {
                                "Send a message with an image": {
                                    "value": {
                                        "contact_id": "string",
                                        "message": {
                                            "type": "photo",
                                            "photo": "https:\/\/www.cdn.com\/photo.png",
                                            "caption": "string"
                                        }
                                    }
                                },
                                "Send a text message": {
                                    "value": {
                                        "contact_id": "string",
                                        "message": {
                                            "type": "text",
                                            "text": "Example text"
                                        }
                                    }
                                },
                                "Send a text message (HTML)": {
                                    "value": {
                                        "contact_id": "string",
                                        "message": {
                                            "type": "text",
                                            "text": "Example text sent via SP API <b>bold<\/b>, <i>italic<\/i>, <a href='http:\/\/example.com'>link<\/a>",
                                            "parse_mode": "html"
                                        }
                                    }
                                },
                                "Send a message with a file": {
                                    "value": {
                                        "contact_id": "string",
                                        "message": {
                                            "type": "document",
                                            "document": "https:\/\/www.cdn.com\/document.zip",
                                            "caption": "string"
                                        }
                                    }
                                },
                                "Send a message with an audio": {
                                    "value": {
                                        "contact_id": "string",
                                        "message": {
                                            "type": "audio",
                                            "audio": "https:\/\/www.cdn.com\/audio.mp3",
                                            "caption": "string"
                                        }
                                    }
                                },
                                "Send a message with an video": {
                                    "value": {
                                        "contact_id": "string",
                                        "message": {
                                            "type": "video",
                                            "video": "https:\/\/www.cdn.com\/video.avi",
                                            "caption": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/SuccessResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/contacts\/sendText": {
            "post": {
                "summary": "Sends a text message to the specified contact",
                "description": "Sends a text message to the specified contact.",
                "security": [
                    {
                        "oAuth2ClientCredentials": []
                    }
                ],
                "tags": [
                    "contacts"
                ],
                "requestBody": {
                    "description": "",
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "properties": {
                                    "contact_id": {
                                        "type": "string",
                                        "description": "Contact ID. Can be obtained with a contact search by tag or variable. You can also find it in your account in the address bar of a chat window with the desired contact."
                                    },
                                    "text": {
                                        "type": "string",
                                        "description": "The content of the text message. You can add text with emoji of up to 1024 unicode characters."
                                    }
                                },
                                "required": [
                                    "contact_id",
                                    "text"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/SuccessResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/contacts\/setVariable": {
            "post": {
                "summary": "Assign a variable to contact",
                "description": "Adds or updates the value of a variable for the selected contact.",
                "security": [
                    {
                        "oAuth2ClientCredentials": []
                    }
                ],
                "tags": [
                    "contacts"
                ],
                "requestBody": {
                    "description": "Choose one of available request body",
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "properties": {
                                    "contact_id": {
                                        "type": "string",
                                        "description": "Contact ID. Can be obtained with a contact search by tag or variable. You can also find it in your account in the address bar of a chat window with the desired contact."
                                    },
                                    "variable_id": {
                                        "type": "string",
                                        "description": "The ID of the created variable can be obtained via other methods"
                                    },
                                    "variable_name": {
                                        "type": "string",
                                        "description": "Name of the variable"
                                    },
                                    "variable_value": {
                                        "anyOf": [
                                            {
                                                "type": "string"
                                            },
                                            {
                                                "type": "number"
                                            },
                                            {
                                                "type": "boolean"
                                            }
                                        ],
                                        "description": "The value that is set for the variable",
                                        "example": "string"
                                    }
                                },
                                "required": {
                                    "0": "contact_id",
                                    "oneOf": [
                                        "variable_id",
                                        "variable_name"
                                    ],
                                    "1": "variable_value"
                                }
                            },
                            "examples": {
                                "Set by variable ID": {
                                    "value": {
                                        "contact_id": "string",
                                        "variable_id": "string",
                                        "variable_value": "string"
                                    }
                                },
                                "Set by variable name": {
                                    "value": {
                                        "contact_id": "string",
                                        "variable_name": "string",
                                        "variable_value": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/SuccessResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/contacts\/deleteVariable": {
            "post": {
                "summary": "Delete a variable the selected contact",
                "description": "Delete the value of a variable for the selected contact.",
                "security": [
                    {
                        "oAuth2ClientCredentials": []
                    }
                ],
                "tags": [
                    "contacts"
                ],
                "requestBody": {
                    "description": "Choose one of available request body",
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "properties": {
                                    "contact_id": {
                                        "type": "string",
                                        "description": "Contact ID. Can be obtained with a contact search by tag or variable. You can also find it in your account in the address bar of a chat window with the desired contact."
                                    },
                                    "variable_id": {
                                        "type": "string",
                                        "description": "The ID of the created variable can be obtained via other methods"
                                    },
                                    "variable_name": {
                                        "type": "string",
                                        "description": "Name of the variable"
                                    }
                                },
                                "required": {
                                    "0": "contact_id",
                                    "oneOf": [
                                        "variable_id",
                                        "variable_name"
                                    ]
                                }
                            },
                            "examples": {
                                "Delete by variable ID": {
                                    "value": {
                                        "contact_id": "string",
                                        "variable_id": "string"
                                    }
                                },
                                "Delete by variable name": {
                                    "value": {
                                        "contact_id": "string",
                                        "variable_name": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/SuccessResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/contacts\/setTag": {
            "post": {
                "summary": "Assign a tag to contact",
                "description": "Assigns tags to the selected contact",
                "security": [
                    {
                        "oAuth2ClientCredentials": []
                    }
                ],
                "tags": [
                    "contacts"
                ],
                "requestBody": {
                    "description": "",
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "properties": {
                                    "contact_id": {
                                        "type": "string",
                                        "description": "Contact ID. Can be obtained with a contact search by tag or variable. You can also find it in your account in the address bar of a chat window with the desired contact."
                                    },
                                    "tags": {
                                        "type": "array",
                                        "description": "List of tags to assign to the contact",
                                        "items": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "required": [
                                    "contact_id",
                                    "tags"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/SuccessResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/contacts\/deleteTag": {
            "post": {
                "summary": "Remove a tag from a contact",
                "description": "Removes the tag for the selected contact.",
                "security": [
                    {
                        "oAuth2ClientCredentials": []
                    }
                ],
                "tags": [
                    "contacts"
                ],
                "requestBody": {
                    "description": "",
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "properties": {
                                    "contact_id": {
                                        "type": "string",
                                        "description": "Contact ID. Can be obtained with a contact search by tag or variable. You can also find it in your account in the address bar of a chat window with the desired contact."
                                    },
                                    "tag": {
                                        "type": "string",
                                        "description": "Tag, you want to remove"
                                    }
                                },
                                "required": [
                                    "contact_id",
                                    "tag"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/SuccessResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/contacts\/disable": {
            "post": {
                "summary": "Disable contact",
                "description": "Disables a contact in your audience list. Campaigns and autoflows will not be sent to this contact",
                "security": [
                    {
                        "oAuth2ClientCredentials": []
                    }
                ],
                "tags": [
                    "contacts"
                ],
                "requestBody": {
                    "description": "",
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "properties": {
                                    "contact_id": {
                                        "type": "string",
                                        "description": "Contact ID. Can be obtained with a contact search by tag or variable. You can also find it in your account in the address bar of a chat window with the desired contact."
                                    }
                                },
                                "required": [
                                    "contact_id"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/SuccessResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/contacts\/enable": {
            "post": {
                "summary": "Enable contact",
                "description": "Enables a contact in the audience list and contact start receiving campaings and autoflows",
                "security": [
                    {
                        "oAuth2ClientCredentials": []
                    }
                ],
                "tags": [
                    "contacts"
                ],
                "requestBody": {
                    "description": "",
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "properties": {
                                    "contact_id": {
                                        "type": "string",
                                        "description": "Contact ID. Can be obtained with a contact search by tag or variable. You can also find it in your account in the address bar of a chat window with the desired contact."
                                    }
                                },
                                "required": [
                                    "contact_id"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/SuccessResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/contacts\/delete": {
            "post": {
                "summary": "Delete contact",
                "description": "Removes a contact from the audience and subscribers list. The contact can be added back only by subscribing to the bot.",
                "security": [
                    {
                        "oAuth2ClientCredentials": []
                    }
                ],
                "tags": [
                    "contacts"
                ],
                "requestBody": {
                    "description": "",
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "properties": {
                                    "contact_id": {
                                        "type": "string",
                                        "description": "Contact ID. Can be obtained with a contact search by tag or variable. You can also find it in your account in the address bar of a chat window with the desired contact."
                                    }
                                },
                                "required": [
                                    "contact_id"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/SuccessResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/contacts\/getPauseAutomation": {
            "get": {
                "summary": "Get remaining time for automation pause",
                "description": "Returns the time remaining until autoflows are stopped for this contact ",
                "security": [
                    {
                        "oAuth2ClientCredentials": []
                    }
                ],
                "tags": [
                    "contacts"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "contact_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Contact ID. Can be obtained with a contact search by tag or variable. You can also find it in your account in the address bar of a chat window with the desired contact."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/SuccessResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/contacts\/setPauseAutomation": {
            "post": {
                "summary": "Pause autoflows for a contact",
                "description": "Pauses autoflows for the specified contact",
                "security": [
                    {
                        "oAuth2ClientCredentials": []
                    }
                ],
                "tags": [
                    "contacts"
                ],
                "requestBody": {
                    "description": "",
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "properties": {
                                    "contact_id": {
                                        "type": "string",
                                        "description": "Contact ID. Can be obtained with a contact search by tag or variable. You can also find it in your account in the address bar of a chat window with the desired contact."
                                    },
                                    "minutes": {
                                        "type": "integer",
                                        "example": 60,
                                        "description": "Minutes"
                                    }
                                },
                                "required": [
                                    "contact_id",
                                    "minutes"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/SuccessResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/contacts\/deletePauseAutomation": {
            "post": {
                "summary": "Resume autoflows for a contact",
                "description": "Resumes autoflows for the specified contact",
                "security": [
                    {
                        "oAuth2ClientCredentials": []
                    }
                ],
                "tags": [
                    "contacts"
                ],
                "requestBody": {
                    "description": "",
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "properties": {
                                    "contact_id": {
                                        "type": "string",
                                        "description": "Contact ID. Can be obtained with a contact search by tag or variable. You can also find it in your account in the address bar of a chat window with the desired contact."
                                    }
                                },
                                "required": [
                                    "contact_id"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/SuccessResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/flows": {
            "get": {
                "summary": "Get a list of flows",
                "description": "Returns a list of created flows for the selected bot and information for each: flow id, bot id, status, name, id and name of the trigger that launches it, and creation date",
                "security": [
                    {
                        "oAuth2ClientCredentials": []
                    }
                ],
                "tags": [
                    "flows"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "bot_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Bot ID. Can be obtained with a method of getting a list of bots. You can also find it in your account in the address bar of a chat window with the desired contact."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "$ref": "#\/components\/schemas\/Flow"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/flows\/run": {
            "post": {
                "summary": "Run a flow by its ID",
                "description": "Launches the selected flow for the selected contact.",
                "security": [
                    {
                        "oAuth2ClientCredentials": []
                    }
                ],
                "tags": [
                    "flows"
                ],
                "requestBody": {
                    "description": "",
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "properties": {
                                    "contact_id": {
                                        "type": "string",
                                        "description": "Contact ID. Can be obtained with a contact search by tag or variable. You can also find it in your account in the address bar of a chat window with the desired contact."
                                    },
                                    "flow_id": {
                                        "type": "string",
                                        "description": "Flow ID to be launched. Can be obtained with the method of obtaining the list of flows"
                                    },
                                    "external_data": {
                                        "type": "object",
                                        "description": "Custom variables. You can pass variable values in the request and use them once in the flow you selected. To add variables to the flow, in the Message element, insert the variable names as a JSON path expression {{$['somekey']['nestedkey']}}.",
                                        "example": {
                                            "tracking_number": "1234-0987-5678-9012"
                                        }
                                    }
                                },
                                "required": [
                                    "contact_id",
                                    "flow_id"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/SuccessResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/flows\/runByTrigger": {
            "post": {
                "summary": "Run a flow by trigger keywords",
                "description": "Launches a flow with the trigger keyword for the selected contact",
                "security": [
                    {
                        "oAuth2ClientCredentials": []
                    }
                ],
                "tags": [
                    "flows"
                ],
                "requestBody": {
                    "description": "",
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "properties": {
                                    "contact_id": {
                                        "type": "string",
                                        "description": "Contact ID. Can be obtained with a contact search by tag or variable. You can also find it in your account in the address bar of a chat window with the desired contact."
                                    },
                                    "trigger_keyword": {
                                        "type": "string",
                                        "description": "Keyword (command) that launch the flow"
                                    },
                                    "external_data": {
                                        "type": "object",
                                        "description": "Custom variables. You can pass variable values in the request and use them once in the flow you selected. To add variables to the flow, in the Message element, insert the variable names as a JSON path expression {{$['somekey']['nestedkey']}}.",
                                        "example": {
                                            "tracking_number": "1234-0987-5678-9012"
                                        }
                                    }
                                },
                                "required": [
                                    "contact_id",
                                    "trigger_keyword"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/SuccessResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/triggers": {
            "get": {
                "summary": "Get a list of triggers",
                "description": "Returns the list of created triggers for the selected bot with information about each of them: trigger ID, bot id, id of the flow that starts on it, name, type, set launch time and creation date",
                "security": [
                    {
                        "oAuth2ClientCredentials": []
                    }
                ],
                "tags": [
                    "triggers"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "bot_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Bot ID. Can be obtained with a method of getting a list of bots. You can also find it in your account in the address bar of a chat window with the desired contact."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "$ref": "#\/components\/schemas\/Trigger"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/bots": {
            "get": {
                "summary": "Get a list of connected bots",
                "description": "Returns lists of bots with information about each: bot ID, channel information, number of received and unread messages, bot status, and creation date",
                "security": [
                    {
                        "oAuth2ClientCredentials": []
                    }
                ],
                "tags": [
                    "bots"
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#\/components\/schemas\/Bot"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/bots\/statistics": {
            "get": {
                "summary": "Get general statistics info by bot",
                "description": "Returns general statistics info by bot",
                "security": [
                    {
                        "oAuth2ClientCredentials": []
                    }
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "bot_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The bot ID. Can be obtained with a method of getting a list of bots. You can also find it in your account in the address bar of a chat window with the desired contact."
                    }
                ],
                "tags": [
                    "bots"
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "subscribedTotalCount": {
                                                    "type": "integer"
                                                },
                                                "subscribedActiveCount": {
                                                    "type": "integer"
                                                },
                                                "outgoingMessagesTotalCount": {
                                                    "type": "integer"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/chats": {
            "get": {
                "summary": "Get a list of chats",
                "description": "Returns a list of chats with subscribers with information about the contact and the last message received from the contact",
                "security": [
                    {
                        "oAuth2ClientCredentials": []
                    }
                ],
                "tags": [
                    "chats"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "bot_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Bot ID. Can be obtained with a method of getting a list of bots. You can also find it in your account in the address bar of a chat window with the desired contact."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "$ref": "#\/components\/schemas\/Chat"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/chats\/messages": {
            "get": {
                "summary": "Get a list of messages",
                "description": "Returns a list of all messages in correspondence with the specified subscriber",
                "security": [
                    {
                        "oAuth2ClientCredentials": []
                    }
                ],
                "tags": [
                    "chats"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "contact_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Contact ID. Can be obtained with a contact search by tag or variable. You can also find it in your account in the address bar of a chat window with the desired contact."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "$ref": "#\/components\/schemas\/Message"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/variables": {
            "get": {
                "summary": "Get a list of variables",
                "description": "Returns a list of variables for the selected bot with information about each: variable ID, bot ID, name, affiliation, type, status, and creation date",
                "security": [
                    {
                        "oAuth2ClientCredentials": []
                    }
                ],
                "tags": [
                    "variables"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "bot_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Bot ID. Can be obtained with a method of getting a list of bots. You can also find it in your account in the address bar of a chat window with the desired contact."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "$ref": "#\/components\/schemas\/Variable"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/campaigns\/send": {
            "post": {
                "summary": "Send campaign",
                "description": "Sends a campaign to all of a bot's subscribers that were active within the last 24 hours. You can send a campaign with text, an image, or a file. To view an example of the request body, select a message type from the drop-down list",
                "security": [
                    {
                        "oAuth2ClientCredentials": []
                    }
                ],
                "tags": [
                    "campaigns"
                ],
                "requestBody": {
                    "description": "",
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "properties": {
                                    "title": {
                                        "type": "string",
                                        "description": "Campaign title"
                                    },
                                    "bot_id": {
                                        "type": "string",
                                        "description": "Bot ID. Can be obtained with a method of getting a list of bots. You can also find it in your account in the address bar of a chat window with the desired contact."
                                    },
                                    "send_at": {
                                        "type": "string",
                                        "description": "Specify the date and time in the format Y-m-d H:i if you need to schedule the campaign, if you do not specify this parameter, the campaign will be sent immediately"
                                    },
                                    "messages": {
                                        "type": "array",
                                        "description": "Message to send, specifying the type and content of the campaign",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "type": {
                                                    "type": "string",
                                                    "enum": [
                                                        "text"
                                                    ],
                                                    "description": "Campaign type, can have the values \"text,\" \"image,\" or \"document\"",
                                                    "example": "text"
                                                },
                                                "message": {
                                                    "type": "object",
                                                    "description": "",
                                                    "properties": {
                                                        "text": {
                                                            "type": "string",
                                                            "description": ""
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "required": [
                                    "title",
                                    "bot_id",
                                    "messages"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "$ref": "#\/components\/schemas\/Campaign"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/account": {
            "get": {
                "summary": "Get account info",
                "description": "Returns information about your current account pricing plan, the number of messages in your plan, bots, contacts, list of tags, and variables",
                "security": [
                    {
                        "oAuth2ClientCredentials": []
                    }
                ],
                "tags": [
                    "account"
                ],
                "responses": {
                    "200": {
                        "description": "Operation successful",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "$ref": "#\/components\/schemas\/Account"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "oAuth2ClientCredentials": {
                "type": "oauth2",
                "description": "",
                "flows": {
                    "clientCredentials": {
                        "tokenUrl": "https:\/\/api.sendpulse.com\/oauth\/access_token",
                        "scopes": []
                    }
                }
            }
        },
        "schemas": {
            "SuccessResponse": {
                "properties": {
                    "success": {
                        "type": "boolean"
                    },
                    "data": {
                        "anyOf": [
                            {
                                "type": "array",
                                "items": {
                                    "type": "object"
                                }
                            },
                            {
                                "type": "object"
                            },
                            {
                                "type": "boolean"
                            }
                        ]
                    }
                },
                "type": "object"
            },
            "Account": {
                "properties": {
                    "plan": {
                        "type": "object",
                        "description": "`-1` - unlimited",
                        "properties": {
                            "code": {
                                "type": "string"
                            },
                            "max_bots": {
                                "type": "integer"
                            },
                            "max_contacts": {
                                "type": "integer",
                                "example": -1
                            },
                            "max_messages": {
                                "type": "integer"
                            },
                            "max_tags": {
                                "type": "integer"
                            },
                            "max_variables": {
                                "type": "integer"
                            },
                            "branding": {
                                "type": "boolean"
                            },
                            "is_exceeded": {
                                "type": "boolean"
                            },
                            "is_expired": {
                                "type": "boolean"
                            },
                            "expired_at": {
                                "type": "string",
                                "example": "2020-12-12T00:00:00+03:00"
                            }
                        }
                    },
                    "statistics": {
                        "type": "object",
                        "description": "",
                        "properties": {
                            "messages": {
                                "type": "integer"
                            },
                            "bots": {
                                "type": "integer"
                            },
                            "contacts": {
                                "type": "integer"
                            },
                            "variables": {
                                "type": "integer"
                            }
                        }
                    }
                }
            },
            "Bot": {
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "channel_data": {
                        "type": "object",
                        "properties": {
                            "access_token": {
                                "type": "string"
                            },
                            "id": {
                                "type": "integer"
                            },
                            "name": {
                                "type": "string"
                            },
                            "username": {
                                "type": "string"
                            }
                        }
                    },
                    "inbox": {
                        "type": "object",
                        "properties": {
                            "total": {
                                "type": "integer"
                            },
                            "unread": {
                                "type": "integer"
                            }
                        }
                    },
                    "commands_menu": {
                        "type": "object",
                        "properties": {
                            "status": {
                                "type": "integer",
                                "enum": [
                                    1,
                                    2
                                ],
                                "description": "\n                    * `1` - active\n\n                    * `2` - inactive\n\n                "
                            },
                            "commands": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "description": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "command": {
                                            "type": "string"
                                        },
                                        "flow_id": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "status": {
                        "type": "integer",
                        "enum": [
                            3,
                            4
                        ],
                        "description": "\n                    * `3` - active\n\n                    * `4` - inactive\n\n                "
                    },
                    "created_at": {
                        "type": "string",
                        "example": "2020-12-12T00:00:00+03:00"
                    }
                }
            },
            "Contact": {
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "bot_id": {
                        "type": "string"
                    },
                    "status": {
                        "type": "integer",
                        "enum": [
                            1,
                            2,
                            3,
                            4
                        ],
                        "description": "\n                    * `1` - active\n\n                    * `2` - unsubscribed\n\n                    * `3` - disabled\n\n                    * `4` - blocked by user\n\n                "
                    },
                    "channel_data": {
                        "type": "object",
                        "properties": {
                            "username": {
                                "type": "string",
                                "nullable": true
                            },
                            "first_name": {
                                "type": "string"
                            },
                            "last_name": {
                                "type": "string",
                                "nullable": true
                            },
                            "name": {
                                "type": "string"
                            },
                            "language_code": {
                                "nullable": true,
                                "type": "string"
                            }
                        }
                    },
                    "tags": {
                        "type": "array",
                        "uniqueItems": true,
                        "items": {
                            "type": "string"
                        }
                    },
                    "variables": {
                        "type": "object",
                        "description": "variable_name: variable_value"
                    },
                    "is_chat_opened": {
                        "type": "boolean"
                    },
                    "last_activity_at": {
                        "type": "string",
                        "example": "2020-12-12T00:00:00+03:00"
                    },
                    "automation_paused_until": {
                        "type": "string",
                        "nullable": true,
                        "example": "2020-12-12T00:00:00+03:00"
                    },
                    "created_at": {
                        "type": "string",
                        "example": "2020-12-12T00:00:00+03:00"
                    }
                }
            },
            "Variable": {
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "bot_id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string",
                        "nullable": true
                    },
                    "type": {
                        "type": "integer",
                        "enum": [
                            1,
                            2
                        ],
                        "description": "\n                    * `1` - contact variable\n\n                    * `2` - bot variable\n\n                "
                    },
                    "value_type": {
                        "type": "integer",
                        "example": 1,
                        "enum": [
                            1,
                            2,
                            3,
                            4,
                            5,
                            6,
                            7
                        ],
                        "description": "\n                this type of variable can have the following values:\n\n                    * `1` - string\n\n                    * `2` - number\n\n                    * `3` - date\n\n                    * `4` - boolean\n\n                    * `5` - phone\n\n                    * `6` - email\n\n                    * `7` - url\n\n                "
                    },
                    "status": {
                        "type": "integer",
                        "enum": [
                            1,
                            2
                        ],
                        "description": "\n                    * `1` - active\n\n                    * `2` - trashed\n\n                "
                    },
                    "created_at": {
                        "type": "string",
                        "example": "2020-12-12T00:00:00+03:00"
                    }
                }
            },
            "Flow": {
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "bot_id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "status": {
                        "type": "integer",
                        "enum": [
                            1,
                            2
                        ],
                        "description": "\n                    * `1` - active\n\n                    * `2` - inactive\n\n                "
                    },
                    "triggers": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "type": {
                                    "type": "integer",
                                    "enum": [
                                        1,
                                        2,
                                        3,
                                        4,
                                        5
                                    ],
                                    "description": "\n                    * `1` - starts immediately upon subscription\n\n                    * `2` - starts when unsubscribed\n\n                    * `3` - default reply\n\n                    * `4` - starts when the specified keyword is entered\n\n                    * `5` - starts at the specified time when subscribing\n\n                "
                                }
                            }
                        }
                    },
                    "created_at": {
                        "type": "string",
                        "example": "2020-12-12T00:00:00+03:00"
                    }
                }
            },
            "Trigger": {
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "bot_id": {
                        "type": "string"
                    },
                    "flow_id": {
                        "type": "string",
                        "nullable": true
                    },
                    "name": {
                        "type": "string"
                    },
                    "type": {
                        "type": "integer",
                        "enum": [
                            1,
                            2,
                            3,
                            4,
                            5
                        ],
                        "description": "\n                    * `1` - starts immediately upon subscription\n\n                    * `2` - starts when unsubscribed\n\n                    * `3` - default reply\n\n                    * `4` - starts when the specified keyword is entered\n\n                    * `5` - starts at the specified time when subscribing\n\n                "
                    },
                    "status": {
                        "type": "integer",
                        "enum": [
                            1,
                            2
                        ],
                        "description": "\n                    * `1` - active\n\n                    * `2` - inactive\n\n                "
                    },
                    "keywords": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "execution": {
                        "type": "object",
                        "properties": {
                            "interval": {
                                "type": "integer"
                            },
                            "units": {
                                "type": "integer",
                                "enum": [
                                    1,
                                    2,
                                    3
                                ],
                                "description": "\n                        * `1` - minutes\n\n                        * `2` - hours\n\n                        * `3` - days\n\n                    "
                            }
                        }
                    },
                    "created_at": {
                        "type": "string",
                        "example": "2020-12-12T00:00:00+03:00"
                    }
                }
            },
            "Campaign": {
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "bot_id": {
                        "type": "string"
                    },
                    "title": {
                        "type": "string"
                    },
                    "send_at": {
                        "type": "string",
                        "example": "2020-12-12T00:00:00+03:00"
                    },
                    "messages": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        }
                    },
                    "created_at": {
                        "type": "string",
                        "example": "2020-12-12T00:00:00+03:00"
                    }
                }
            },
            "Chat": {
                "properties": {
                    "contact": {
                        "$ref": "#\/components\/schemas\/Contact"
                    },
                    "inbox_last_message": {
                        "$ref": "#\/components\/schemas\/Message"
                    },
                    "inbox_unread": {
                        "type": "integer"
                    }
                }
            },
            "Message": {
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "contact_id": {
                        "type": "string"
                    },
                    "bot_id": {
                        "type": "string"
                    },
                    "campaign_id": {
                        "type": "string",
                        "nullable": true
                    },
                    "data": {
                        "type": "object",
                        "description": "https:\/\/core.telegram.org\/bots\/api#message",
                        "example": {
                            "text": "hello"
                        }
                    },
                    "direction": {
                        "type": "integer",
                        "enum": [
                            1,
                            2
                        ],
                        "description": "\n                    * `1` - in\n\n                    * `2` - out\n\n                "
                    },
                    "status": {
                        "type": "integer",
                        "enum": [
                            1
                        ],
                        "description": "\n                    * `1` - new\n\n                "
                    },
                    "created_at": {
                        "type": "string",
                        "example": "2020-12-12T00:00:00+03:00"
                    }
                }
            }
        }
    },
    "security": [
        {
            "oAuth2ClientCredentials": []
        }
    ]
}
